body{
  background-color: red;
  position: relative;
  overflow: hidden;
  margin:0;
}
body::before {
  content: '';
  position: fixed;
  top:-100%;
  width: 100%;
  height:200%;
  background: repeating-linear-gradient(in oklch, #0054d3, #00725f, #0054d3, #00725f,#0054d3);
  animation: waterfall-bg 5s linear infinite;
  z-index: -2;              /*чтобы контент был поверх */
}
.back-btn{
  display: inline-block;  /*Это свойство требуется для корректной работы размера элемента. Тег a - строчный, что означает ужимание элемента под размер содержимого.
  в то время как блочный занимает ширину всей страницы (до переноса строки), однако может иметь ограничения размера внешнего вида (в стиле! фактически, элемент все равно занимает всю строку)*/
  text-decoration: none;
  height: 30px;
  width: 80px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border: solid rgba(104, 225, 255, 0.61) 1px;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  background: linear-gradient(45deg, black 30%, white 50%, black 70%);
  background-size: 250% 100%;
  animation: btn-bg 5s ease infinite;
}
.back-btn:hover{
  transition: filter 1s ease;
  filter: brightness(1.5);
  background: rgba(0,0,0,1);
}
#canvas{
  border:solid 2px rgba(255,255,255, 0.5);
}
.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.grid {
  display: grid;
  gap: 5px;
  flex-shrink: 0;
  width: 300px;
  margin: 5px;
  font-weight:bold;
  font-family: 'Courier New';
  color: rgb(0, 140, 255);
}
.key {
  background-color: rgba(0, 94, 172, 0.5);
  border:solid 1px rgba(19, 208, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  filter: brightness(1.0);
  transition: filter 0.2s ease,
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}
.key-space {
  width: 300px;
  height: 25px;
  margin: 20px 10px 5px 10px;
  font-weight:bold;
  font-family: 'Courier New';
  color: rgb(0, 140, 255)
}
.key-up{
  grid-column: 2;
  grid-row: 1;
}
.key-left{
  grid-column: 1;
  grid-row: 2;
}
.key-down{
  grid-column: 2;
  grid-row: 2;
}
.key-right{
  grid-column: 3;
  grid-row: 2;
}
.key.pressed {
  filter: brightness(1.5);
  transition: filter 0.2s ease;
}
.key.paused { 
  background-color: rgba(0, 172, 14, 0.5);
  border-color: rgba(53, 255, 69, 0.5);
  color: rgba(107, 255, 119, 0.7);
  transition: background-color 0.2s ease;
}
.status-grid {
  display:grid;
  position:fixed;
  border-radius: 5px;
  border:solid 1px rgba(19, 208, 255, 0.5);
  gap: 5px;
  right:5px;
}
.time-label {
  grid-column:1;
  grid-row:2;
}
.time-value {
  grid-column:2;
  grid-row:2;
}
.score-label {
  grid-column: 1;
  grid-row: 1;
}
.score-value {
  grid-column: 2;
  grid-row:1;
}
.status {
  color: rgba(19, 208, 255, 0.5);
  font-family:'Courier New';
  margin: 2px;
}
@keyframes btn-bg {
  0% { background-position: -40% 0%; }
  50% { background-position: 140% 0%; }
  100% { background-position: -40% 0%; }
}
@keyframes waterfall-bg {
  from { transform: translate(0%, 0%); }
  to   { transform: translate(0%, 50%); }
}